<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache"> <!-- Force no cache -->
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.next-button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  border-radius: 3px;
  font-size: large;
  margin: 20px auto;
}

.next-button:hover {
  background-color: #218838; /* Darker green on hover */
}

</style>
</head>
<body>

<h2>Questions:</h2>

{% for item in quiz_data %}
<button class="accordion">{{ item.question }}</button>
<div class="panel">
  <p>{{ item.answer }}</p>
</div>
{% endfor %}

<button onclick="forceRefresh()" class="next-button">Continue</button>
<form action="/" method="get">
    <button class="next-button">Home</button>
</form>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

// Force browser to circumvent the cache because the request url is not the same anymore (refresh query key-value pair)
function forceRefresh() {
  let url = new URL(window.location.href);
  url.searchParams.set("refresh", new Date().getTime()); // Updates the "refresh" parameter
  window.location.replace(url.href); // Reloads with the updated query parameter
}

</script>

</body>
</html>
